.footer{
    position:bottom;
    width: 100%;
    height: 60% ;
    background-color:rgb(128, 235, 146);
    color: rgb(233, 10, 21);
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 4%;
    margin-top: 100%;



 }
body{
   background-image: url(/back.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  overflow: auto;
  margin: right;
  
        }
  body{
    color:rgb(14, 11, 11);
    font: size 100px;
    

        background-image: url("feedbackk.jpg");

    background-repeat:no-repeat;
    background-size:fill;

}
.overlay{
    background-color: rgba(49, 49, 49, 0.5);
    height: 100%;
  }

nav{
    text-align:right;
    font: size 24px;
}

a{
    text-decoration:none;
    padding:10px;
    color:rgb(12, 11, 11);
}

nav>ul>a:hover{
    box-shadow:5 10 50px;
    background-color:rgb(184, 49, 49);

}
h2{
  font-size: large;
}