body{
  background-image: url(/feedbackk.jpg);
    background-repeat:no-repeat;
    background-size:cover; 
  }
  nav{
    text-align:right;
    font-size:20px;
  }
  
  a{
    text-decoration:none;
    padding:10px;
    color:rgb(179, 20, 144);
    
  }
  
  nav>ul>a:hover{
    box-shadow:5 5 10px;
    background-color:brown;
  }
  
  table {
    border-collapse: collapse;
    text-align:center;
    padding: 20px;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 5px solid rgb(4, 85, 51);
    padding: 40px;
    font-size:40px;
    margin-top: 50px;
    text-decoration: rgb(31, 223, 223);
  }
  
  #Feedback{
    position: relative;
    left: 40px;
    top: 30px;
    
  }
  
  
  
  
  
  
    
  